</div><!--#wrapper-->

	<div class="divider">
	</div><!--divider-->
	
	<div id="footer">
	
	<p>Vuvu Books is a children's-book imprint of <a href="http://electricbookworks.com">Electric Book Works</a>. We've published <a href="http://www.facebook.com/pages/UTshepo-Mde-Tall-Enough/404889426237504">uTshepo Mde: Tall Enough</a> and <a href="">Wie is Dit?</a> We're not taking on new projects at the moment. But check out <a href="http://bookdash.org">Book Dash</a>.</p>
	
	</div><!--#footer-->

	<!--Google Analytics-->
	<script>
	</script>
	
</body>
</html>